Sehr geehrte/r {{name}},

wir bedanken uns herzlich für Ihre Kartenbestellung für unser diesjähriges Weihnachtsmärchen und freuen uns, Sie bei dieser besonderen Veranstaltung begrüßen zu dürfen.

Veranstaltungsdetails:

Veranstaltungsort: {{event.name}}
Datum und Uhrzeit: {{event.datetime | datetime }}

Bestellte Karten:

{{#tickets}}
{{amount}} x {{name}} (je €{{price | currency}})
{{/tickets}}

{{#message}}
Ihre Nachricht:
{{message}}

{{/message}}

Referenznummer: {{bestellnummer}}
Gesamtbetrag: €{{total | currency}}

Bitte überweisen Sie den Betrag auf folgendes Konto:

Kontoinhaber: Sportverein Dresden-Mitte 1950 e.V.
Bank: Ostsächsische Sparkasse Dresden
IBAN: DE04 8505 0300 3120 1702 23
Verwendungszweck: {{bestellnummer}}, {{name}}, {{event.datetime | datetime }}

Zahlungsfrist: {{event.datetime | lastPayDate }} (4 Tage vor der Veranstaltung)

Mit freundlichen Grüßen
Das Team des Sportvereins Dresden-Mitte 1950 e.V.
